/* ESTILOS GENERALES */
*{
    margin: 0px;
    padding: 0px;
}

body{
    background: yellow;
}

.container{
    background: white;
}

.cearfix {
    float: none;
    clear: both;
  }
/* MENU DE NAVEGACION */
.header{
    background: #3F2D3B;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header .hijo{
    width: 70px;
    margin: 0 auto;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#page-name{
    width: 87px;    
    border: 3px solid white;
}
/* ESTILOS PARA SECCIONES */

.principal {
    width: 100%;        
    color: white;
}

.foto-cabecera{
    background: white;
    height: 200px;
    color: black;
}

.bienvenidos{
    background: #743042;
    height: 200px;
    text-align: center;
}

.menu{
    width: 100%;    
    background: #DD800B;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu .menu-item{
    width: 200px;
    height: 200px;    
    background: #3F2D3B;
    text-decoration: none;    
}
.galeria{
    background: white;
    height: 200px;
    color: black;
    text-align: center;
}

.horarios{
    background: #FAB509;
    height: 200px;
    text-align: center;
}

.contactos{
    background: #3F2D3B;
    height: 200px;
    text-align: center;
}

