*{
    font-family: Helvetica, Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url(fondo3.jpg);
    background-size: 100%; 
    background-attachment: fixed;
}

h1{
    /* border: 5px solid royalblue; */
    color: orange;
    text-align: center;
    font-size: 140px;
    padding-top: 200px;
}

p{
    color: white;
    font-size: 40px;
    text-align: center;
}
.botones{
    margin: 0 auto;
    text-align: center;
}

.botones button{
    margin: 0 auto;
    background-color: #e88600;
    border: red;
    color: white;
    font-size: 24px;
}
